/* I always reset all the html elements */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: #fff;
}
.chart{
	max-width: 900px;
	height: 450px;
	padding: 50px;
	margin: 0 auto;
}
.chart .chart_types{
	text-align: center;
	margin-bottom: 30px;
}
.chart .chart_types button{
	padding: 10px 25px;
}