@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* VARIABLES */
:root {
  --primary-color: #c04ae2;
  --secondary-color: #111111;
  --primary-font: 'Poppins', sans-serif;
  --secondary-font: 'Overpass', sans-serif;
  --text-dark: #020617;
  --text-light: #64748b;
  --extra-light: #f1f5f9;
  --white: #ffff;
  --max-width: 1200px;
}

/* RESET DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  margin-bottom: 1rem;
}

/* UTILITY CLASSES */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-primary {
  color: var(--primary-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.btn {
  display: inline-block;
  max-width: max-content;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: #a03dd1;
}

.btn-secondary {

  border: 1px solid var(--primary-color);
}

.btn-secondary:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.section-subheading {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.section-heading {
  font-size: 3rem;
  max-width: 600px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.section-heading.left {
  margin-right: auto;
}

.section-heading.right {
  margin-left: auto;
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-size: calc(100vw / 1728 * 19);
  margin: 0%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: relative;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;

}

/* HEADER */
nav {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav__logo span {
  padding: 5px 12px;
  margin-right: .5rem;
  border-radius: 100%;
  color: #fff;
  background-color: #000;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links .link a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav__links .link a:hover {
  color: #989898;
}

.nav__buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}


.nav__buttons .link {
  list-style: none;
}

.nav__buttons .link a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
}

.nav__buttons .link a :hover {
  color: #989898;
}

.nav__buttons .link.btn a {
  color: #000;
}

.btn {
  min-width: 150px;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 1rem;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.menu-btn {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

@media (max-width: 768px) {

  .nav_links,
  .nav_buttons {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav_links.active,
  .nav_buttons.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 999;
  }
}

/* HEADER */

/* Hero  */
#hhero {
  min-height: 100vh;
}

.hhero__content {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hhero__content h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.hhero__content p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.hhero__img {
  width: 60%;
}

/* Hero  */

/* Hero Section */
.Hero {
  padding: 100px;
  text-align: center;
}

.HeroSection {
  font-family: 'Poppins', sans-serif;
  color: #000;
  max-width: 800px;
  margin: 0 auto;
}

.HeroSection p {
  font-size: 30px;
  line-height: 1.6;
}

.HeroSection h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #000;
}

.HeroSection h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.HeroSection h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.video {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Hero Section */

/*New*/
.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);

  height: 400px;

  @for $i from 1 through 4 {
    @media screen and (max-width:798px - $i*80) {
      min-width: 600px - $i*80;

      .option:nth-child(#{6-$i}) {
        display: none;
      }
    }
  }

  .option {
    position: relative;
    overflow: hidden;

    min-width: 60px;
    margin: 10px;

    background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
    background-size: auto 120%;
    background-position: center;

    cursor: pointer;

    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

    @for $i from 1 through length($optionDefaultColours) {
      &:nth-child(#{$i}) {
        --defaultBackground:#{nth($optionDefaultColours, $i)};
      }
    }

    &.active {
      flex-grow: 10000;
      transform: scale(1);

      max-width: 600px;
      margin: 0px;
      border-radius: 40px;

      background-size: auto 100%;

      .shadow {
        box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
      }

      .label {
        bottom: 20px;
        left: 20px;

        .info>div {
          left: 0px;
          opacity: 1;
        }
      }

      /*&:active {
           transform:scale(0.9);
        }*/
    }

    &:not(.active) {
      flex-grow: 1;

      border-radius: 30px;

      .shadow {
        bottom: -40px;
        box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
      }

      .label {
        bottom: 10px;
        left: 10px;

        .info>div {
          left: 20px;
          opacity: 0;
        }
      }
    }

    .shadow {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;

      height: 120px;

      transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    }

    .label {
      display: flex;
      position: absolute;
      right: 0px;

      height: 40px;
      transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);

      .icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        min-width: 40px;
        max-width: 40px;
        height: 40px;
        border-radius: 100%;

        background-color: white;
        color: var(--defaultBackground);
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-left: 10px;

        color: white;

        white-space: pre;

        >div {
          position: relative;

          transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
        }

        .main {
          font-weight: bold;
          font-size: 1.2rem;
        }

        .sub {
          transition-delay: .1s;
        }
      }
    }
  }
}

/*New paragraph*/
.par {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.par h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

.par p {
  font-size: 25px;
  line-height: 1.5;
}

.btn {
  padding: 1rem 2rem;
  font-weight: 700;
  background: rgb(255, 255, 255);
  color: black;
  border-radius: .5rem;
  border-bottom: 2px solid blueviolet;
  border-right: 2px solid blueviolet;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transition-duration: 1s;
  transition-property: border-top,
    border-left,
    border-bottom,
    border-right,
    box-shadow;
}

.btn:hover {
  border-top: 2px solid blueviolet;
  border-left: 2px solid blueviolet;
  border-bottom: 2px solid rgb(238, 103, 238);
  border-right: 2px solid rgb(238, 103, 238);
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
}

/* paragraph */
/* Scroll img */
.scroller {
  max-width: 1000px;
  margin-left: 150px;
}

.scroller h1 {
  text-align: center;
  font-size: 30px;
}

.scroller__inner {
  align-items: center;
  justify-content: center;
  padding-block: 1.5rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1rem;
  /* font-weight: 20px; */
}

.scroller__inner img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.scrolly {
  animation: scroll 30s linear infinite;
}

.scroller {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

@keyframes scroll {
  0% {
    transform: translateX(-200);
  }

  100% {
    transform: translateX(1500px);
  }
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(205, 15%, 58%);
  --clr-primary-400: hsl(215, 25%, 27%);
  --clr-primary-800: hsl(217, 33%, 17%);
  --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* Scroll img */

/*A platform*/
.plat {
  text-align: center;
}

.plat button {
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.plat button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 blueviolet;
}

;

.plat button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 blueviolet;
}

;

/*A platform*/
/* SERVICES */
#sevices .section-subheading,
#sevices .section-heading {
  text-align: right;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.service {
  padding: 3rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service__icon img {
  width: 50px;
  margin-bottom: 1rem;
}

.services__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.service__text {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.services .arrow-icon {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-left: auto;
  transition: transform 0.3s;
}

.services:hover .arrow-icon {
  transform: translateX(5px);
}

/* SERVICES */

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 5rem;
}

.project {
  display: flex;
  gap: 10%;
  align-items: center;
}

.project:nth-child(2) {
  flex-direction: row-reverse;
}

.project__img {
  min-width: 35%;
  position: relative;
}

.project__img::after {
  content: "";
  position: absolute;
  top: -20px;
  width: 90%;
  height: 90%;
  border-radius: 8px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.project:nth-child(1) .project__img::after,
.project:nth-child(3) .project__img::after {
  left: -20px;
}

.project:nth-child(2) .project__img::after {
  right: -20px;
  border-color: #6bc2ed;
}

.project__category {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--primary-color);
}

.project__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.project__text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

/* Projects */

/* Web Development */
a {
  text-decoration: none;
}

.ag-create_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  padding: 50px 0;
}

.ag-create_item {
  width: 25%;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.ag-create_item video {
  display: block;
  max-width: 100%;
  margin: -8% auto 0;

  position: relative;
}

.ag-create_item svg {
  height: 99%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.ag-create_item svg .cls-1 {
  fill: transparent;
  stroke: #5f5f5f;
  stroke-miterlimit: 10;

  -webkit-transition: stroke .4s linear;
  -moz-transition: stroke .4s linear;
  -o-transition: stroke .4s linear;
  transition: stroke .4s linear;
}

.ag-create_item svg .cls-2 {
  fill: #1f2334;

  opacity: 0;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.ag-create_item svg .cls-3 {
  fill: transparent;

  stroke: #1f2334;
  stroke-miterlimit: 10;

  -webkit-transition: fill .4s linear;
  -moz-transition: fill .4s linear;
  -o-transition: fill .4s linear;
  transition: fill .4s linear;
}

.ag-create_item svg .cls-4 {
  fill: none;
  stroke-miterlimit: 10;
  stroke: #FFF;
}

.ag-create_title-item {
  width: 100%;
  margin-top: -8%;
  padding: 0 30px 25px;

  -webkit-text-stroke: 1px #FFF;
  stroke: 1px #FFF;

  text-align: left;
  font-size: 38px;
  color: transparent;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  position: relative;
}

.ag-create_item:hover .ag-create_title-item {
  -webkit-text-stroke: 1px hsla(0, 0%, 100%, 0);
  stroke: 1px hsla(0, 0%, 100%, 0);

  color: #FFF;
}

.ag-create_item:hover svg .cls-1 {
  stroke: #FFF;
}

.ag-create_item:hover svg .cls-2 {
  opacity: 1;
}

/* Web Development */


/* TEAM */
.members {
  display: flex;
  gap: 3rem;
}

.member:nth-child(2),
.member:nth-child(4) {
  margin-top: 5rem;
}

.member__img {
  margin-bottom: 1rem;
}

.member__content h1 {
  margin-bottom: 0.25rem;
}

.member__content h2 p {
  opacity: 0.4;
  font-weight: 600;
}

.join-us__inner {
  text-align: center;
  padding: 20px;
}

.join-us__title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.mission {
  position: relative;
}

.mission svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  height: auto;
  stroke: black;
  stroke-width: 10px;
}

.join-us__text {
  font-size: 25px;
  margin-bottom: 20px;
}

button {
  background-color: #000;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #E64A19;
}

/* TEAM */

/*scroll New*/
/* Footer */
footer {
  background-color: #000;
  color: #4f4f4f;
  padding: 40px 0;
  font-family: Arial, sans-serif;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.footer-col {
  flex: 1;
  margin: 20px;
}

.footer-col:last-child {
  margin-right: 0;
}

h4 {
  font-size: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #fff;
}

.links {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  color: #4f4f4f;
  text-decoration: none;
  transition: color 0.3s ease;
}

.links a:hover {
  color: #fff;
  text-decoration: underline;
}

.icons {
  margin-top: 20px;
}

.icons a {
  font-size: 30px;
  margin-right: 20px;
  color: #4f4f4f;
  transition: color 0.3s ease;
}

.icons h1 {
  color: #fff;
}

.icons a:hover {
  color: #fff;
}

/*Footer*/
/* MEDIA QUERIES */
@media screen and (max-width: 768px) {

  /* HEADER */

  /* HEADER */

  /* HERO */
  #hhero {
    flex-direction: column;
    justify-content: center;
  }

  .hhero__content {
    width: 100%;
    text-align: center;
  }

  .hhero__content h1 {
    font-size: 2.5rem;
  }

  .hhero__content .btn {
    margin: 0 auto;
  }

  .hhero__img {
    width: 100%;
  }

  /* HERO */

  /* ABOUT */
  .features {
    grid-template-columns: repeat(1fr);
  }

  .features {
    padding: 1rem;
  }

  .about__details {
    flex-direction: column;
  }

  .about__details-img,
  .about_details_content {
    width: 100%;
  }

  /* ABOUT */

  /* PROJECTS */
  .project {
    flex-direction: column !important;
    gap: 2rem;
  }

  .project__img {
    width: 100%;
    max-width: 300px;
  }

  .project__title {
    font-size: 2.4rem;
  }

  .project__text {
    font-size: 2.1rem;
  }

  /* PROJECTS */

  /* TEAM */
  .members {
    flex-direction: column;
    text-align: center;
  }

  .member {
    margin: 0 !important;
  }

  .member__img img {
    max-width: 300px;
  }

  /* TEAM */

  /* TESTIMONIALS */
  .testimonials__img {
    display: flex;
  }

  .testimonials-wrapper {
    width: 100%;
  }

}