@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {

  --body-color: #E4E9F7;
  /* #eee */
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;


  /* test colors */

  --light: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;

  --yellow: #FFBD13;
  --blue: #4383FF;
  --blue-d-1: #3278FF;
  --white: #FFF;
  --shadow: 8px 8px 300px rgba(0, 0, 0, .05);

  /* Settings color */
  --c-text-primary: #282a32;
  --c-text-secondary: #686b87;
  --c-text-action: #404089;
  --c-accent-primary: #434ce8;
  --c-border-primary: #eff1f6;
  --c-background-primary: #ffffff;
  --c-background-secondary: #fdfcff;
  --c-background-tertiary: #ecf3fe;
  --c-background-quaternary: #e9ecf4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
}

::selection {
  background-color: var(--primary-color);
  color: #fff;
}

body.dark {
  --body-color: #18191a;
  --sidebar-color: #242526;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

/* ================ Side Bar menu ================ */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 2000;
}

.sidebar.close {
  width: 88px;
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 10px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar header .toggle {
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 25px;
  width: 25px;
  background-color: var(--primary-color);
  color: var(--sidebar-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
  color: var(--text-color);
}

.sidebar.close .toggle {
  transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar li.search-box {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  cursor: pointer;
  transition: var(--tran-05);
}

.sidebar li.search-box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--primary-color-light);
  color: var(--text-color);
  border-radius: 6px;
  font-size: 17px;
  font-weight: 500;
  transition: var(--tran-05);
}

.sidebar li a {
  list-style: none;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  text-decoration: none;
  transition: var(--tran-03);
}

.sidebar li a:hover {
  background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
  color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text.bottom-content {
  color: var(--text-color);
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

.sidebar .menu-bar .mode {
  border-radius: 6px;
  background-color: var(--primary-color-light);
  position: relative;
  transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
  height: 50px;
  width: 60px;
}

.mode .sun-moon i {
  position: absolute;
}

.mode .sun-moon i.sun {
  opacity: 0;
}

body.dark .mode .sun-moon i.sun {
  opacity: 1;
}

body.dark .mode .sun-moon i.moon {
  opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
  position: absolute;
  right: 0;
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.toggle-switch .switch {
  position: relative;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
  transition: var(--tran-05);
}

.switch::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-04);
}

body.dark .switch::before {
  left: 20px;
}

body.dark .home .text {
  color: var(--text-color);
}

/* ================ Switch With Sections ================ */

.section {
  display: none;
}

.section .text,
.section p {
  color: var(--text-color);
  text-align: center;
}

.section.active {
  display: block;
}

/* ================ dasboard ================ */

.chart {
  /* max-width: 880px; */
  height: 20rem;
  padding: 25px;
  margin: 0 auto;
}

.chart .chart_types {
  text-align: center;
  margin-bottom: 30px;
}

.chart .chart_types button {
  padding: 10px 25px;
}

/* ================ dasboard ================ */

.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}

.sidebar.close~.content {
  width: calc(100% - 60px);
  left: 60px;
}

.sidebar.close~.container,
.sidebar.close~.subpage-container {
  left: 60%;
}

.content main {
  width: 100%;
  padding: 50px 60px;
  max-height: calc(100vh - 56px);
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.content main .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

.content main .insights li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  cursor: pointer;
}

.content main .insights li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content main .insights li:nth-child(1) .bx {
  background: var(--light-primary);
  color: var(--primary);
}

.content main .insights li:nth-child(2) .bx {
  background: var(--light-warning);
  color: var(--warning);
}

.content main .insights li:nth-child(3) .bx {
  background: var(--light-success);
  color: var(--success);
}

.content main .insights li:nth-child(4) .bx {
  background: var(--light-danger);
  color: var(--danger);
}

.content main .insights li .info h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

.content main .insights li .info p {
  color: var(--dark);
}

.content main .bottom-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}

.content main .bottom-data>div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}

.content main .bottom-data .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}

.content main .bottom-data .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}

.content main .bottom-data .header .bx {
  cursor: pointer;
}

.content main .bottom-data .orders {
  flex-grow: 1;
  flex-basis: 500px;
}

.content main .bottom-data .orders table {
  width: 100%;
  border-collapse: collapse;
}

.content main .bottom-data .orders table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}

.content main .bottom-data .orders table td {
  padding: 16px 0;
}

.content main .bottom-data .orders table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}

.content main .bottom-data .orders table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.content main .bottom-data .orders table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}

.content main .bottom-data .orders table tbody tr:hover {
  background: var(--grey);
}

.content main .bottom-data .orders table tr td .status {
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 800;
}

.content main .bottom-data .orders table tr td .status.ai {
  background: var(--success);
}

.content main .bottom-data .orders table tr td .status.editor {
  background: var(--primary);
}

.content main .bottom-data .chart_card {
  flex-grow: 1;
  flex-basis: 300px;
}

.content main .bottom-data .chart_card .task-list {
  width: 100%;
}

.chart_card .title {
  font-size: 24px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {

  .content {
    width: calc(100% - 60px);
    left: 200px;
  }

}

@media screen and (max-width: 576px) {
  .content main .insights {
    grid-template-columns: 1fr;
  }

  .content main .bottom-data .header {
    min-width: 340px;
  }

  .content main .bottom-data .orders table {
    min-width: 340px;
  }

  .content main .bottom-data .chart_card .task-list {
    min-width: 340px;
  }
}

/* ================ Add new project ================ */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.subpage-container {
  position: absolute;
  top: 50%;
  left: 35rem;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 100%;
  height: 35rem;
  max-width: 1000px;
  padding: 20px;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  justify-content: center;
  transition: all 0.3s ease;
}

.subpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.subpage span {
  position: relative;
  left: 28rem;
}

.subpage button {
  float: right;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: left;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  top: 4rem;
  cursor: pointer;
}

.card {
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #BBF7D0;
}

.selected {
  background-color: #BBF7D0;
}

.card-image {
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.project_opthions {
  display: flex;
  flex-direction: row;
  gap: 15rem;
}

.project_opthions button {
  position: relative;
  width: 115px;
  height: 50px;
  padding: 10px;
  top: 7rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ================ My project ================ */
.Projects_list {
  position: relative;
  left: 1rem;
  display: grid;
  width: 90%;
  top: 5rem;
}

.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
  position: relative;
  cursor: default;
}

.project:hover {
  border-color: #888;

  .more-icon {
    display: block;
  }
}

.project-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.more-icon {
  display: none;
  margin-right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.project-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.project-date {
  display: contents;
  font-size: 14px;
  color: #666;
}

.hover-panel {
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
}

.hover-panel.show {
  display: block;
}

.hover-item {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: space-between;
}

.hover-item:hover {
  background-color: #f0f0f0;
}

/* ================ settings ================ */

.container {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 50px;
  border-radius: 20px;
  top: 5%;
  left: 4.2rem;
  width: 450px;
  gap: 10px;
  display: none;
  z-index: 1000;
  transition: all 0.3s ease;
}

h1,
h3 {
  font-family: "Roboto Slab";
  font-weight: 600;
}

span {
  font-weight: 500;
  font-family: "Poppins";
}

.toggle-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.toggle {
  width: 60px;
  height: 35px;
  border-radius: 40px;
  background-color: #ebebfb;
  display: inline-block;
}

.toggle-c {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 5px;
  transition: 300ms all;
  border: 1px solid #BCBCA4;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked+div .toggle-c {
  left: 30px;
  background-color: #30305c;
  border-color: #30305c;
}

input[type="radio"] {
  border: 0px;
  width: 10%;
  height: 20px;
  accent-color: black;
}

.togg-label {
  display: flex;
  align-self: center;
  justify-content: space-between;

}

.flex {
  display: flex;
  gap: 5px;

}

.bottom {
  margin-top: 20px;
  margin-bottom: 30px;
}

.bottom:hover {
  text-decoration: underline;
  cursor: pointer;

}

label,
input[type="radio"] {
  cursor: pointer;
}

/* ================ More settings ================ */


:focus {
  outline: 0;
}

.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* --------  -------- */

.button {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 40px;
  border-radius: 8px;
  line-height: 1;
  border: 2px solid var(--c-border-primary);
  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  background-color: var(--c-background-primary);

  i {
    margin-right: 0.5rem;
    font-size: 1.25em;
  }

  span {
    font-weight: 500;
  }

  &:hover,
  &:focus {
    border-color: var(--c-accent-primary);
    color: var(--c-accent-primary);
  }
}

.main {
  padding-top: 3rem;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 1.25;

    @media (max-width: 550px) {
      margin-bottom: 1rem;
    }
  }
}

/* -------- Search field -------- */
.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 340px;

  input {
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 1em 0 36px;
    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--c-border-primary);
    color: var(--c-text-action);
    font-size: 0.875rem;
    transition: 0.15s ease;
    width: 100%;
    line-height: 1;

    &::placeholder {
      color: var(--c-text-action);
    }

    &:focus,
    &:hover {
      border-color: var(--c-accent-primary);
    }
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background-color: transparent;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.25em;
    color: var(--c-text-action);
    padding: 0;
    height: 40px;
  }
}

/* -------- Settings Tabs -------- */
.horizontal-tabs {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  overflow-x: auto;

  @media (max-width: 1000px) {
    scrollbar-width: none;
    position: relative;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  a {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    height: 48px;
    padding: 0 0.25rem;
    font-weight: 500;
    color: inherit;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    transition: 0.15s ease;

    &:hover,
    &:focus,
    &.active {
      color: var(--c-accent-primary);
      border-bottom-color: var(--c-accent-primary);
    }

    &+* {
      margin-left: 1rem;
    }
  }
}

/* -------- Settings Header Tittle -------- */
.content-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  margin-top: -1px;
  border-top: 1px solid var(--c-border-primary);
}

.content-header-intro {
  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  p {
    color: var(--c-text-secondary);
    margin-top: 0.25rem;
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}

.content-header-actions {
  a:first-child {
    @media (min-width: 800px) {
      display: none;
    }
  }
}

/* -------- Tabs Content -------- */

.content {
  border-top: 1px solid var(--c-border-primary);
  /* margin-top: 2rem; */
  display: flex;
  align-items: flex-start;
}

.content-main {
  padding-top: 2rem;
  padding-bottom: 6rem;
  flex-grow: 1;
}

/* -------- Show Tabs -------- */

.settings-tabs {
  display: none;
}

.settings-tabs.active {
  display: block;
}

/* -------- My Profile Tab -------- */
.newName_edit {
  background-color: #388E3C;
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 15px;
  height: 30px;
  border-radius: 8px;
  border: black;
  left: 430px;
  top: 150px;

  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;
  line-height: 1;
}

.updateText {
  left: 30%;
  top: 130px;
  position: relative;
}


.profile_container {
  background-color: #ffffff;
  width: 100%;
  padding: 50px 60px;
  max-height: calc(100vh - 56px);
  position: absolute;
  /* width: 10%; */
  min-width: 60rem;
  height: 30rem;
  transform: translate(-50%, -50%);
  top: 209%;
  left: 30%;
  /* bottom: -21%; */
  box-shadow: 0 20px 35px rgba(0, 0, 0, .15);
  border-radius: 7px;
}

.image-container {
  width: 80%;
  margin: 0 auto 30px auto;
}

.image-container img {
  display: block;
  position: relative;
  max-width: 100%;
  max-height: 100px;
  margin: auto;
}

figcaption {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #2a292a;

}

input[type="file"] {
  display: none;
}

.upload {
  display: block;
  position: relative;
  background-color: #434ce8;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  width: 250px;
  padding: 7px 0;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.profile_container .profile_buttons {
  position: relative;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  top: 15rem;
}

.profile_container .profile_buttons .btn {
  padding: .5rem 0.8rem;
  border-radius: .5rem;
  width: 8rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .875rem;
}

.profile_container .profile_buttons .btn.update {
  background-color: #434ce8;
  color: var(--white);
}

.profile_container .profile_buttons .btn.cancel {
  border: 2px solid #434ce8;
  background-color: var(--white);
  color: #434ce8;
}

.profile_container .profile_buttons .btn.cancel:hover {
  background-color: #434ce8;
  color: #fff;
}

/* -------- Change Password -------- */
.input-wrap {
  position: absolute;
  justify-content: left;
  height: 37px;
  margin-bottom: 2rem;
}

.input-field {
  font: inherit;
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em 0 15px;
  height: 30px;
  border-radius: 8px;
  border: black;

  color: var(--c-text-action);
  font-size: 0.875rem;
  transition: 0.15s ease;

  line-height: 1;
}

/* -------- Project Settings -------- */


/* -------- Notifications -------- */

/* -------- Media Query -------- */

/* ================ Rate Form ================ */
.wrapper {
  background: var(--white);
  padding: 2rem;
  max-width: 576px;
  width: 100%;
  border-radius: .75rem;
  box-shadow: var(--shadow);
  text-align: center;
}

.wrapper h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: .5rem;
  font-size: 2rem;
  color: var(--yellow);
  margin-bottom: 2rem;

}

.rating .star {
  cursor: pointer;

}

.rating .star.active {
  opacity: 0;
  animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .star:hover {
  transform: scale(1.1);
}

textarea {
  width: 100%;
  background: var(--light);
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  resize: none;
  margin-bottom: 5rem;

}

.btn-group {
  justify-content: center;
  display: flex;
  grid-gap: .5rem;
  align-items: center;
}

.btn-group .btn {
  padding: .75rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 500;
}

.btn-group .btn.submit {
  background: var(--blue);
  color: var(--white);
}

.btn-group .btn.cancel {
  background: var(--white);
  color: var(--blue);
}