<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/Frontend/src/style/AI_page.css" />
    <title>Stavitel</title>
  </head>
  <body>
    <!-- ========= Side Bar ========= -->
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../public/Icons/logo.png" alt="" />
          </span>
          <div class="text logo-text">
            <span class="name">Stavitel AI</span>
          </div>
        </div>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <div class="progress-bar">
            <div class="bar" id="progressBar" style="height: 33.33%"></div>
          </div>
        </div>
      </div>
    </nav>

    <main>
      <!-- ========= AI Text ========= -->
      <div class="ai_text">
        <div class="container">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.<br />
            Dicta a odio numquam, quaerat quibusdam modi quas pariatur<br />
            soluta! Dolorem possimus eius laboriosam alias ducimus.<br />
            Assumenda eos laudantium vero qui adipisci?
          </p>
        </div>
      </div>

      <!-- ========= Chose Catogire Page ========= -->

      <section class="chose_catogire section">

      </section>

      <!-- ========= Chose Templet Page ========= -->

      <section class="chose_templet section">
        <div class="card-container">
          <div class="card" onclick="selectCard(this)">
            <div
              class="card-image"
              style="background-image: url('/Frontend/Test/AI/preview.png')"
            ></div>
          </div>

          <div class="card" onclick="selectCard(this)">
            <div
              class="card-image"
              style="background-image: url('/Frontend/Test/AI/preview.png')"
            ></div>
          </div>

          <div class="card" onclick="selectCard(this)">
            <div
              class="card-image"
              style="background-image: url('/Frontend/Test/AI/preview.png')"
            ></div>
          </div>
        </div>
      </section>

      <!-- ========= Set Web Name Page ========= -->

      <section class="set_name section">
        <form>
          <input type="text" placeholder="Enter the name of your project" />
        </form>
      </section>

      <!-- ========= Buttons ========= -->
    </main>

    <div class="project_opthions">
      <button type="submit" id="nextButton">Next</button>
      <button type="submit" class="backButton">Back</button>
    </div>

    <script src="/Frontend/src/app/AI_page.js"></script>
  </body>
</html>
