<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../style/AI_page.css" />
    <title>Stavitel</title>
  </head>
  <body>
    <!-- ========= Side Bar ========= -->
    <nav class="sidebar">
      <header>
        <div class="image-text">
          <span class="image">
            <img src="../public/Icons/logo.png" alt="" />
          </span>
          <div class="text logo-text">
            <span class="name">Stavitel AI</span>
          </div>
        </div>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <div class="progress-bar">
            <div class="bar" id="progressBar" style="height: 33.33%"></div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <!-- ========= Chose Catogire Page ========= -->
      <div id="cardSection" class="card-container">
        <div class="card" onclick="showTemplates('template1')">
          <div class="icon">
            <i class="fa-solid fa-dumbbell"></i>
            <p class="topic">Sport</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template2')">
          <div class="icon">
            <i class="fa-solid fa-guitar"></i>
            <p class="topic">Music</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template3')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Books</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template4')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test1</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template5')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test2</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template6')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test3</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template7')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test4</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template8')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test5</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template9')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test6</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template9')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test7</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template9')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test8</p>
          </div>
        </div>
  
        <div class="card" onclick="showTemplates('template9')">
          <div class="icon">
            <i class="fa-solid fa-book"></i>
            <p class="topic">Test9</p>
          </div>
        </div>
      </div>
  
      <!-- Template Section -->
      <div id="templateSection" class="template-container">
        <!-- Template Cards (Hidden by default) -->
        <div class="template-card template1" style="margin-top: 200px;" >
          <div class="card-image" style="background-image: url('images/test.jpg');"></div>
        </div>
        <div class="template-card template1" style="margin-top: 200px;">
          <div
            class="card-image"
            style="Background:url(./img/test.jpg);background-size: cover;background-position: initial;"></div>
        </div>
        <div class="template-card template1" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template2" style="margin-top: 200px;">
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template2" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template2" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template3" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template3" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template3" style="margin-top: 200px;">
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template4" style="margin-top: 200px;">
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template4" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template4" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template5" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template5" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template5" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template6" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template6" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template6" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template7" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template7" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template7" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template8" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template8" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template8" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template9" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template9" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
        <div class="template-card template9" style="margin-top: 200px;" >
          <div
            class="card-image"
            style="background-image: url('./preview.png')"
          ></div>
        </div>
  
        <!-- Back Button -->
        <div class="back-button">
          <button onclick="showCardSection()">Back to Cards</button>
        </div>
      </div>
      <!-- ========= Buttons ========= -->

    <script>
      function navigateTo(url) {
        window.location.href = url;
      }
    </script>
    <script src="../app/AI_page.js"></script>
  </body>
</html>