<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                        <!--  Discription -->
  <meta name="description" content=""/>

  <link rel="stylesheet" href="/Frontend/src/style/Change_Password.css">
  <link rel="icon" href="/Frontend/public/Icons/logo.png">
  
  <title>Stavitel . Change Password</title>
</head>
<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">
          <form action="User_Sign.html" autocomplete="off" class="sign-in-form">
            <div class="logo">
              <img
                src="/Frontend/public/Icons/logo.png"
                alt="Stavitel Logo"
              />
              <h4>Stavitel</h4>
            </div>

            <div class="heading">
              <h2>Change Password</h2>
              <h4>
                Please Create a new password that you don't use on any other
                site.
              </h4>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input
                  type="password"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Enter password</label>
              </div>

              <div class="input-wrap">
                <input
                  type="password"
                  class="input-field"
                  autocomplete="off"
                  required
                />
                <label>Confirm password</label>
              </div>

              <input type="submit" value="Submit" class="submit-btn" />
            </div>
            <p class="copyright">
              &#169; 2024 Stavitel - All rights reserved
            </p>
          </form>
        </div>

        <div class="image">
          <img
            src="/Frontend/public/User_Sign/change password.svg"
            alt="Change-Password-Image"
          />
        </div>
      </div>
    </div>
  </main>

  <script src="/Frontend/src/app/Change_Password.js"></script>
</body>
</html>