<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stavitel</title>
    <link rel="stylesheet" href="checkbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="../public/Icons/logo.png"/>
  </head>
  <body>
    <div class="wrap">
        <p>Website notifications</p>
        <div class="group">
             <div class="group">
                <input type="checkbox" id="check1">
                <label for="check1">Project Notifications</label>
             </div>
        </div>
        <div class="group">
            <div class="group">
               <input type="checkbox" id="check2">
               <label for="check2">Check 2</label>
            </div>
       </div>
       <div class="group">
        <div class="group">
           <input type="checkbox" id="check3">
           <label for="check3">Check 3</label>
        </div>
        </div>
        <div class="group">
        <div class="group">
            <input type="checkbox" id="check4">
            <label for="check4">Check 4</label>
        </div>
    </div>
    <div class="wrapper">
    <div class="btn-group">
        <button class="yes-btn">Save changes</button>
        <button class="no-btn">Cancel</button>
    </div>
</div>
</div>
<script src="button.js"></script>
</body>
</html>