@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    box-sizing: border-box;
    font-family: "system-ui";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.group {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}

p {
    color: #272727;
    font-size: 1.25rem;
    font-weight: 600;
}

input[type="checkbox"] {
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #cfcfcf;
    border-radius: .25rem;
    appearance: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: limegreen;
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 9px;
    width: 5px;
    height: 13px;
    border: 4px solid transparent;
    border-left: none;
    border-top: none;
    transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:checked::before {
    border-color: #fff;
    animation: checkAnim .2s ease;
}

@keyframes checkAnim {
    from {
        transform: rotate(45deg) scale(0);
    }
}

label {
    color: #272727;
    font-size: 1.2rem;
    user-select: none;
}

.wrapper {
    position: absolute;
    background: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-group {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid black;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}
button:nth-child(1) {
    margin-left: -200px;
    background: #333232;
}
button:nth-child(2) {
    margin-right: -200px;
    color: black;
}