<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--=============== BOXICONS ===============-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="../style/Docs_webHost.css" />

    <title>Stavitel</title>
  </head>
  <body>
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <nav class="nav container">
        <a href="#" class="nav__logo">Stavitel</a>

        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#webHost1" class="nav__link active-link">Home</a>
            </li>
            <li class="nav__item">
              <a href="#webHost2" class="nav__link">About us</a>
            </li>
            <li class="nav__item">
              <a href="#webHost3" class="nav__link">Services</a>
            </li>
            <li class="nav__item">
              <a href="../View/Contact_us.html" class="nav__link">Contact us</a>
            </li>
          </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>

        <a href="../View/User_Sign.html" class="button button__header">Get Started</a>
      </nav>
    </header>

    <main class="main">
      <!--=============== webHost1 ===============-->
      <section class="home section" id="webHost1">
        <div class="home__container container grid">
          <img
            src="/Frontend/public/docs/webHost1.svg"
            class="svg__img right_img"
            alt="SEO Image"
          />
          <div class="home__data">
            <h1 class="home__title">
              Order Products <br />
              Faster Easier
            </h1>
            <p class="home__description">
              Order your favorite foods at any time and we will deliver them
              right to where you are.
            </p>

            <a href="#" class="button">Get Started</a>
          </div>
        </div>
      </section>

      <!--=============== webHost2 ===============-->
      <section class="left section container" id="webHost2">
        <div class="left__container grid">
          <div class="left__data">
            <h2 class="section__title-center">
              Find Out A Little More <br />
              About Us
            </h2>
            <p class="left__description">
              We are a company dedicated to the distribution of products by
              delivery to your home or to the place where you are, with the best
              quality of delivery.
            </p>
          </div>

          <img
            src="/Frontend/public/docs/webHost2.svg"
            class="svg__img left__img"
            alt="SEO Image"
          />
        </div>
      </section>

      <!--=============== webHost3 ===============-->
      <section class="right section container" id="webHost3">
        <div class="right__container grid">
          <div class="right__data">
            <h2 class="section__title-center">
              Your Safety Is <br />
              Important
            </h2>
            <p class="right__description">
              When your order reaches you, we have the health safety protocols,
              so that you are protected from any disease. Watch the video of how
              the delivery is made.
            </p>
          </div>

          <img
            src="/Frontend/public/docs/webHost3.svg"
            class="svg__img right_img"
            alt="SEO Image"
          />
        </div>
      </section>

      <!--=============== webHost4 ===============-->
      <section class="left section container">
        <div class="left__container grid">
          <div class="left__data">
            <h2 class="section__title-center">
              Find Out A Little More <br />
              About Us
            </h2>
            <p class="left__description">
              We are a company dedicated to the distribution of products by
              delivery to your home or to the place where you are, with the best
              quality of delivery.
            </p>
          </div>

          <img
            src="/Frontend/public/docs/webHost4.svg"
            class="svg__img left__img"
            alt="SEO Image"
          />
        </div>
      </section>

      <!--=============== webHost5 ===============-->
      <section class="right section container">
        <div class="right__container grid">
          <div class="right__data">
            <h2 class="section__title-center">
              Your Safety Is <br />
              Important
            </h2>
            <p class="right__description">
              When your order reaches you, we have the health safety protocols,
              so that you are protected from any disease. Watch the video of how
              the delivery is made.
            </p>
          </div>

          <img
            src="/Frontend/public/docs/webHost5.svg"
            class="svg__img"
            alt="SEO Image"
          />
        </div>
      </section>

      <!--=============== SERVICES ===============-->
      <section class="services section container" id="services">
        <h2 class="section__title">
          Some Services We <br />
          Offer
        </h2>
        <div class="services__container grid">
          <div class="services__data">
            <h3 class="services__subtitle">Payment Done</h3>

            <img
              src="/Frontend/public/docs/webHost6.svg"
              class="services__img"
              alt="SEO Image"
            />
            <p class="services__description">
              Pay with a Visa or PayPal card and without much ado.
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Find Your Product</h3>

            <img
              src="/Frontend/public/docs/webHost7.svg"
              class="services__img"
              alt="SEO Image"
            />
            <p class="services__description">
              We offer sale of products through the Internet.
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>

          <div class="services__data">
            <h3 class="services__subtitle">Product Received</h3>

            <img
              src="/Frontend/public/docs/webHost8.svg"
              class="services__img"
              alt="SEO Image"
            />
            <p class="services__description">
              In our app you can see the delay time of your order.
            </p>
            <div>
              <a href="#" class="button button-link">Learn More</a>
            </div>
          </div>
        </div>
      </section>

      <!--=============== CONTACT US ===============-->
      <section class="contact section container" id="contact">
        <div class="contact__container grid">
          <div class="contact__content">
            <h2 class="section__title-center">
              Contact Us From <br />
              Here
            </h2>
            <p class="contact__description">
              You can contact us from here, you can write to us, call us or
              visit our service center, we will gladly assist you.
            </p>
          </div>

          <ul class="contact__content grid">
            <li class="contact__address">
              Telephone:
              <span class="contact__information">999 - 888 - 777</span>
            </li>
            <li class="contact__address">
              Email:
              <span class="contact__information">delivery@email.com</span>
            </li>
            <li class="contact__address">
              Location: <span class="contact__information">Lima - Peru</span>
            </li>
          </ul>

          <div class="contact__content">
            <a href="#" class="button">Contact Us</a>
          </div>
        </div>
      </section>
    </main>

    <!--=============== FOOTER ===============-->
    <footer class="footer section">
      <div class="footer__container container grid">
        <div class="footer__content">
          <a href="#" class="footer__logo">Delivery</a>
          <p class="footer__description">
            Order Products Faster <br />
            Easier
          </p>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Services</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Pricing </a></li>
            <li><a href="#" class="footer__link">Discounts</a></li>
            <li><a href="#" class="footer__link">Report a bug</a></li>
            <li><a href="#" class="footer__link">Terms of Service</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Our Company</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Blog</a></li>
            <li><a href="#" class="footer__link">Our mision</a></li>
            <li><a href="#" class="footer__link">Get in touch</a></li>
          </ul>
        </div>

        <div class="footer__content">
          <h3 class="footer__title">Community</h3>
          <ul class="footer__links">
            <li><a href="#" class="footer__link">Support</a></li>
            <li><a href="#" class="footer__link">Questions</a></li>
            <li><a href="#" class="footer__link">Customer help</a></li>
          </ul>
        </div>

        <div class="footer__social">
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-facebook-circle"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="#" class="footer__social-link"
            ><i class="bx bxl-instagram-alt"></i
          ></a>
        </div>
      </div>

      <p class="footer__copy">&#169; Stavitel. All right reserved</p>
    </footer>

    <!--=============== SCROLL UP ===============-->
    <a href="#" class="scrollup" id="scroll-up">
      <i class="bx bx-up-arrow-alt scrollup__icon"></i>
    </a>

    <!--=============== MAIN JS ===============-->
    <script src="../app/Docs.js"></script>
  </body>
</html>
