<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stavitel ● Bootstrap Editor</title>

    <!-- styles -->
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../../lib/grapesjs/dist/css/grapes.min.css" />
    <!-- <link rel="stylesheet" href="../style/Editor.css" /> -->
    <link rel="stylesheet" href="../style/Editor.css" />
  </head>

  <body>

    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <div id="gjs" style="height: 0px; overflow: hidden"></div>

    <!-- scripts -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="../app/index.js"></script>
    <script src="../context/gram.min.js"></script>
    <script src="../../lib/grapesjs/dist/grapes.min.js"></script>

    <!-- <script type="module" src="../context/Editor.js"></script>
    <script type="module" src="../context/helpers/index.js"></script>
    <script type="module" src="../context/config/commands/buttons.js"></script>
    <script type="module" src="../context/config/commands/commands.js"></script>

    <script type="module" src="../context/config/Dependencies/customScripts.js"></script>
    <script type="module" src="../context/config/Dependencies/dependencyCDNLinks.js"></script>
    <script type="module" src="../context/config/Dependencies/sectionDependencies.js"></script>

    <script type="module" src="../context/config/manager/assetManager.js"></script>
    <script type="module" src="../context/config/manager/blockManager_editor_BT.js"></script>
    <script type="module" src="../context/config/manager/sectionBlocks.js"></script>
    <script type="module" src="../context/config/manager/styleManager.js"></script> -->
  </body>
</html>
