<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Stavitel ● Bootstrap Editor</title>

    <!-- styles -->
    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../../lib/grapesjs/dist/css/grapes.min.css" />
    <!-- <link rel="stylesheet" href="../style/Editor.css" /> -->
    <link rel="stylesheet" href="../style/Editor.css" />
  </head>

  <body>

    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <div id="gjs" style="height: 0px; overflow: hidden"></div>

    <!-- scripts -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <script src="../app/index.js"></script>
    <script src="../../Test/Build/gramateria/dist/gram.min.js"></script>
    <script src="../../lib/grapesjs/dist/grapes.min.js"></script>
    
  </body>
</html>
