<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Discription -->
    <meta name="description" content="" />

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/user.css" />
    <link rel="icon" href="../../public/Icons/logo.png" />

    <title>Stavitel</title>
  </head>
  <body>
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="#" autocomplete="off" class="feedback-form">
              <div class="logo">
                <img src="../../public/Icons/logo.png" alt="Stavitel Logo" />
                <h4>Stavitel</h4>
              </div>

              <div class="heading">
                <h2>Give us your valuable feedback</h2>
                <h4>Your feedback is very important to us.</h4>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <!-- <textarea
                    name="text"
                    class="input-field"
                    id="user_review"
                    required
                  ></textarea> -->
                  <input
                    type="text"
                    class="input-field"
                    id="user_review"
                    required
                  />
                  <label>Your Feedback</label>
                </div>

                <input
                  type="submit"
                  value="Send"
                  class="submit-btn"
                  id="review_btn"
                />
              </div>
              <p class="copyright">
                &#169; 2024 Stavitel - All rights reserved
              </p>
            </form>
          </div>

          <div class="image feedback">
            <img
              src="../../public/Workspace/Feedback.svg"
              alt="Feedback-image"
            />
          </div>
        </div>
      </div>
    </main>

    <script type="module" src="../app/user.js"></script>
    <script type="module" src="../context/review.js"></script>
    <script src="../app/index.js"></script>
  </body>
</html>
