<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Discription -->
    <meta name="description" content="" />

    <link rel="stylesheet" href="../style/style.css" />
    <link rel="stylesheet" href="../style/user.css" />
    <link rel="stylesheet" href="../style/chatBot.css" />
    <link rel="icon" href="../../public/Icons/logo.png" />

    <title>Stavitel . Forget Password</title>
  </head>
  <body>
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>

    <div class="test">
  
      <button id="toggleChatbotBtn" class="chatBot_spinner">
        <div class="chatBot_spinner1">
          <span class="material-symbols-rounded">mode_comment</span>
          <span class="material-symbols-outlined">close</span>
        </div>
      </button>
      
        <div class="chatbot">
            <header>
                <h2>Raya</h2>
                <h4>Chat with our AI ✨<br>Ask any question and AI will answer.</h4>
                <button class="btnNewChat" id="btnNewChat" onclick="startNewChat()">New Chat</button>
                <button class="btnSeeFAQ" id="btnSeeFAQ" onclick="showFAQ()">See FAQ</button>
                <button class="btnBack" id="btnBack" onclick="backToChat()" style="display: none">Back</button>
            </header>
            <ul class="chatbox">
                <li class="chat incoming">
                    <span class="material-symbols-outlined">smart_toy</span>
                    <p>Hi there 👋 <br>I'm the AI Assistant. <br>How can I help you today?</p>
                </li>
            </ul>
            <div class="chat-input" id="chat-input">
                <input type="text" class="input" placeholder="Type your message here..." required />
                <span id="send-btn" class="material-symbols-rounded">send</span>
                <div class="input-border"></div>
            </div>
        </div>
        </div>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form
              action="Code_Verification.html"
              autocomplete="off"
              class="forget-password-form"
            >
              <div class="logo">
                <img src="../../public/Icons/logo.png" alt="Stavitel Logo" />
                <h4>Stavitel</h4>
              </div>

              <div class="heading">
                <h2>Forget Password</h2>
                <h4>Enter Your Email Address</h4>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    id="forget_password_email"
                    autocomplete="off"
                    required
                  />
                  <label>Email</label>
                </div>

                <input
                  type="submit"
                  value="submit"
                  class="submit-btn"
                  id="forget_password_btn"
                />
              </div>
              <p class="copyright">
                &#169; 2024 Stavitel - All rights reserved
              </p>
            </form>
          </div>

          <div class="image forget-password">
            <img
              src="../../public/User_Sign/Forgot Password.svg"
              alt="Forgot-Password-Image"
            />
          </div>
        </div>
      </div>
    </main>

    <script src="../app/user.js"></script>
    <script src="../app/index.js"></script>
    <script src="../app/chatBot.js"></script>
  </body>
</html>
