<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="robots" content="nofollow, noindex">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="chart.css">
	<title>Displaying JSON data in Chart.js</title>
</head>
<body>

	<div class="chart">
		<div class="chart_types">
			<button onclick="setChartType('line')">Line</button>
		</div>
		<canvas id="myChart"></canvas>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="chart.js"></script>
</body>
</html>
