<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/style.css">
  <title>Document</title>
</head>
<body>

  <ul class="notifications" id="notifications"></ul>

  <input type="text" id="project_name">

  <button id="create_btn">create</button>

  <script type="module" src="../app/test.js"></script>
  <script type="module" src="../context/Projects.js"></script>
  <script type="module" src="../context/notfication.js"></script>
</body>
</html>