<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Discription -->
    <meta
      name="description"
      content="Stavitel is webpage builder to help student and none developer 
      to create powerfull websites without writing any code."
    />

    <link rel="stylesheet" href="../style/User_Sign.css" />
    <link rel="icon" href="../public/Icons/logo.png" />

    <script src="https://account.google.com/gsi/client" async></script>
    <title>Stavitel . User</title>
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <!--================= Sign In Form =================-->
            <form
              action="Workspace.html"
              autocomplete="off"
              class="sign-in-form"
            >
              <div class="logo">
                <img src="../../public/Icons/logo.png" alt="Stavitel Logo" />
                <h4>Stavitel</h4>
              </div>

              <div class="heading">
                <h2>Welcome Back</h2>
                <h6>Not registred yet?</h6>
                <a href="#" class="toggle">Sign up</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="email"
                    class="input-field"
                    id="login_email"
                    autocomplete="off"
                    required
                    />
                    <label>Email</label>
                  </div>
                  
                  <div class="input-wrap">
                    <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    id="login_password"
                    autocomplete="off"
                    required
                  />
                  <label>Password</label>
                </div>

                <input
                  type="submit"
                  value="Sign In"
                  name="sign_in"
                  class="submit-btn"
                  id="sign_in_btn"
                />

                <p class="text">
                  <a href="Forgot_Password.html">Forget your password?</a>
                </p>
                <!--
                <div class="email_icons">
                  <h6>or Sign In With</h6>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/google.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/linkedin.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/github.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/facebook.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                </div>
              -->
                <div class="container">
                  <div id="btnWrap">
                    <div id="g_id_onload"
                          data-client_id="423965700264-jv6srhquq3e117oc6g29luo994k5esoo.apps.googleusercontent.com"
                          data-context="signin"
                          data-ux_mode="popup"
                          data-callback="handleCredentialResponse"
                          data-auto_prompts="false">
                    </div>
                    <div class="g_id_signin"
                            data-type="standard"
                            data-shape="rectangular"
                            data-theme="outline"
                            data-text="sigin_with"
                            data-size="large"
                            data-logo_alignment="left">
                      </div>
                  </div>
                  <div class="pro-data hidden"></div>
                </div>
              </div>
            </form>

            <!--================= Sign Up Form =================-->
            <form
              action=""
              autocomplete="off"
              class="sign-up-form"
            >
              <div class="logo">
                <img src="../../public/Icons/logo.png" alt="Stavitel Logo" />
                <h3>Stavitel</h3>
              </div>

              <div class="heading">
                <h2>Get Started</h2>
                <h6>Already have an account?</h6>
                <a href="#" class="toggle">Sign in</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field error_name"
                    id="register_username"
                    autocomplete="off"
                    required
                    />
                    <label id="error_name">Name</label>
                  </div>

                  <div class="input-wrap">
                    <input
                    type="email"
                    class="input-field error_email"
                    id="register_email"
                    autocomplete="off"
                    required
                    />
                    <label id="error_email">Email</label>
                  </div>

                <div class="input-wrap">
                  <input
                  type="password"
                  onkeyup="trigger()"
                  class="input-field check error_password"
                  id="register_password"
                  autocomplete="off"
                  required
                  />
                  <label id="error_password">password</label>
                </div>

                <div class="indicator-container">
                  <div class="indicator"></div>
                </div>
                <p>Password Strength: <span class="strength"></span></p>

                <input
                  type="submit"
                  value="Sign Up"
                  name="sign_up"
                  class="submit-btn"
                  id="sign_up_btn"
                />
              
                <div class="email_icons">
                  <h6>or Sign Up With</h6>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/google.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/linkedin.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/github.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                  <a href="#" target="_blank">
                    <img
                      src="../../public/Icons/facebook.svg"
                      title="Google"
                      alt="Google Icon"
                    />
                  </a>
                </div>
              
              </div>
            </form>

            <p class="copyright">&#169; 2024 Stavitel - All rights reserved</p>
          </div>

          <!--================= Images =================-->
          <div class="carousel">
            <div class="images-wrapper">
              <img
                src="../../public/User_Sign/Build_web1.svg"
                class="image img-1 show"
                alt="image-slide1"
              />
              <img
                src="../../public/User_Sign/Build_web2.svg"
                class="image img-2"
                alt="image-slide2"
              />
              <img
                src="../../public/User_Sign/Build_web3.svg"
                class="image img-3"
                alt="image-slide3"
              />

            <div class="text-slider">
              <div class="text-wrap">
                <div class="text-group">
                  <h2>Create your own courses</h2>
                  <h2>Customize as you like</h2>
                  <h2>Invite students to your class</h2>
                </div>
              </div>

              <div class="bullets">
                <span class="active" data-value="1"></span>
                <span data-value="2"></span>
                <span data-value="3"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!--============= Js files =============-->
    <script type="module" src="../app/User_Sign.js"></script>
    <script type="module" src="../context/userData.js"></script>
    <script type="module" src="../api/api.js"></script>
    
  </body>
</html>
