<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  Discription -->
    <meta name="description" content="" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../style/user.css" />
    <link rel="stylesheet" href="../style/style.css" />
    <!-- <link rel="stylesheet" href="../style/verfication_email.css" /> -->
    <link rel="icon" href="../public/Icons/logo.png" />

    <title>Stavitel .verfication email</title>
  </head>
  <body>
    <main>
      <div class="box">
        <div class="inner-box">
          <div class="forms-wrap">
            <form action="#">
              <div class="logo">
                <img src="../../public/Icons/logo.png" alt="Stavitel Logo" />
                <h4>Stavitel</h4>
              </div>

              <div class="heading">
                <h2>Verify your Email Address</h2>
              </div>

              <div class="title">
                <h3>
                  A verfication link has been sent
                  <b>to: <a href="http://gmail.com/" id="userEmail">user@lavalite.orge</a></b><br />
                  Please click the button in the message to confirm your email
                  address.
                </h3>
              </div>

              <div class="actual-form">
                <div class="input-wrap">
                  <!-- <input
                  type="resend email"
                  value="Resend email"
                  class="Resendemail-btn"
                /> -->
                  <input
                    type="submit"
                    value="Resend email"
                    class="submit-btn"
                    id="Resendemail-btn"
                  />
                </div>
              </div>
              <p class="copyright">
                &#169; 2024 Stavitel - All rights reserved
              </p>
            </form>
          </div>
          <div class="image verify_email">
            <img
              src="../../public/User_Sign/verfication email.svg"
              alt="verficatipn-email-Image"
            />
          </div>
        </div>
      </div>
    </main>
    <script type="module" src="../app/verify_email.js"></script>
    <script type="module" src="../context/userData.js"></script>
  </body>
</html>
