<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/fontawesome-free-5.15.1-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pirata+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Pirata+One&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Pirata+One&family=Rock+Salt&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ranchers&family=Reggae+One&display=swap" rel="stylesheet">
    <title>QuicFkood-delivery service</title>
</head>

<body>
    <div id="navbar" class="navbar">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21689&authkey=!AKvqqcUT_caVEHk" alt="QuckFood"
            id="QuickFood-logo">
        <div class="cart-txt">
            <h2 class="cart-text">$0.00
            </h2>
            <p class="sub-txt">0 Items in the cart</p>
        </div>
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21684&authkey=%21AKuXyqB0kgDgpTA&width=70&height=74"
            alt="cart" class="cart">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21691&authkey=%21ALKsXXAHaCZNFiI&width=56&height=82"
            alt="call-us" class="mobile">
        <div class="num-txt">
            <h2 class="num">+215 456 15 15
            </h2>
            <p class="sub-txt">8:00 am - 11:30pm</p>
        </div>
        <ul id="content">
            <li id="li" class="active"><a href="#">Home</a></li>
            <li id="li"><a href="#">Menu</a></li>
            <li id="li"><a href="#">About</a></li>
            <li id="li"><a href="#">Resturaunts</a></li>
            <li id="li"><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="header" id="header">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21692&authkey=%21AEOWqrzenLJffRw&width=500&height=500"
            alt="pizza" id="pizza">
        <form action="search.html" method="GET" id="searc-bar">
            <h2 class="search-txt" id="search-txt">Search your favorite
                <br> Food now 👇
            </h2>
            <input type="text" name="query" placeholder="Searh your favorite food here" id="seach">
            <button type="submit" id="sub"><i class="fas fa-arrow-right"></i></button>
        </form>
        <a href="search.html"><button type="submit" id="btn1"> View menu <i
                    class="fas fa-chevron-right"></i></button></a>
    </div>
    <div class="head2" id="head2">
        <div class="icon1">
            <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21686&authkey=%21AC5Svda8J1dIQck&width=94&height=100"
                alt="icon" id="icon1">
            <h1 class="txt1">Quality Food</h1>
            <h3 class="txt1-sub">Our company provides the best quaaity foods</h3>
        </div>
        <div class="icon2">
            <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21687&authkey=%21AP8e5DAwGKKoWtI&width=94&height=100"
                alt="icon" id="icon2">
            <h1 class="txt2">Best Recipes</h1>
            <h3 class="txt2-sub">Our company makes food with best recipes</h3>
        </div>
        <div class="icon3">
            <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21688&authkey=%21AKDi-P-Ot-Vzow8&width=94&height=100"
                alt="icon" id="icon3">
            <h1 class="txt3">Fastest delivery</h1>
            <h3 class="txt3-sub">Our company delivers food within 30 minutes
                <br> If we don't we will give the food for free
            </h3>
        </div>
    </div>
    <div class="best-sales" id="best-sales">
        <h1 id="sales-head">
            Best sales on pizza
        </h1>
        <div class="pizza-box1">
            <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21692&authkey=%21AEOWqrzenLJffRw&width=500&height=500"
                alt="Pizza1" id="Pizza1">
            <h1 id="Pizza1-txt">Pizza with egg</h1>
            <p id="para1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, unde! Numquam voluptate neque
                nostrum, facilis cum nobis rem amet omnis?</p>
        </div>
        <div class="pizza-box2">
            <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21694&authkey=%21ADkDdyiO5FNfDgw&width=500&height=500"
                alt="Pizza2" id="Pizza2">
            <h1 id="Pizza2-txt">Pizza with Mushroom</h1>
            <p id="para2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, unde! Numquam voluptate neque
                nostrum, facilis cum nobis rem amet omnis?</p>
        </div>
    </div>
    <div id="review" class="review">
        <h1 class="head-review" id="head-review">Our Customers reviews</h1>
        <div class="icon1-review fa-5x" id="icon1-review">
            <i class="fas fa-user"></i>
        </div>
        <div class="review1" id="review1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet velit eaque aliquam. Dolorem est ipsum
            numquam dolorum quod esse natus expedita repellat ab eligendi laudantium nemo, cum magnam perferendis, quos
            a dicta ipsam aliquid labore nulla
            quae! Neque accusantium eveniet quo voluptates quod deserunt nemo sequi, exercitationem aliquam enim dolores
            nulla provident, eos quisquam eius veritatis ipsam sapiente, totam officia. Blanditiis earum similique qui!
            Saepe earum officia a
            amet nihil veritatis id beatae nulla tenetur dignissimos quo architecto, sunt eaque, dicta perspiciatis qui
            autem praesentium impedit? Ad ut cumque ducimus voluptas deleniti consequatur dolorum earum, nobis illum
            quae numquam omnis veniam?
            Consequuntur nemo iusto quasi, necessitatibus libero et assumenda maiores inventore ipsam dignissimos
            delectus itaque aliquam, laboriosam possimus corrupti voluptatibus? Maiores, harum cum! Cupiditate numquam,
            aspernatur alias dolore, voluptas
            facilis reiciendis laborum nisi eum ducimus delectus. Iste praesentium maiores cumque mollitia repellendus
            dolorem molestias provident tempora amet odio corrupti facere itaque repudiandae adipisci deleniti expedita,
            blanditiis minus odit vitae
            nihil placeat fugit, nesciunt, delectus qui! Est distinctio vel eligendi omnis id reiciendis inventore
            necessitatibus dolor, praesentium suscipit nulla odit adipisci perferendis rerum, totam commodi accusantium
            laborum ab aliquam tenetur soluta
            fugit consequuntur magni magnam. Maiores ipsa animi deleniti ea?
        </div>
        <div class="icon1-review fa-5x" id="icon1-review">
            <i class="fas fa-user"></i>
        </div>
        <div class="review1" id="review1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi eveniet velit eaque aliquam. Dolorem est ipsum
            numquam dolorum quod esse natus expedita repellat ab eligendi laudantium nemo, cum magnam perferendis, quos
            a dicta ipsam aliquid labore nulla
            quae! Neque accusantium eveniet quo voluptates quod deserunt nemo sequi, exercitationem aliquam enim dolores
            nulla provident, eos quisquam eius veritatis ipsam sapiente, totam officia. Blanditiis earum similique qui!
            Saepe earum officia a
            amet nihil veritatis id beatae nulla tenetur dignissimos quo architecto, sunt eaque, dicta perspiciatis qui
            autem praesentium impedit? Ad ut cumque ducimus voluptas deleniti consequatur dolorum earum, nobis illum
            quae numquam omnis veniam?
            Consequuntur nemo iusto quasi, necessitatibus libero et assumenda maiores inventore ipsam dignissimos
            delectus itaque aliquam, laboriosam possimus corrupti voluptatibus? Maiores, harum cum! Cupiditate numquam,
            aspernatur alias dolore, voluptas
            facilis reiciendis laborum nisi eum ducimus delectus. Iste praesentium maiores cumque mollitia repellendus
            dolorem molestias provident tempora amet odio corrupti facere itaque repudiandae adipisci deleniti expedita,
            blanditiis minus odit vitae
            nihil placeat fugit, nesciunt, delectus qui! Est distinctio vel eligendi omnis id reiciendis inventore
            necessitatibus dolor, praesentium suscipit nulla odit adipisci perferendis rerum, totam commodi accusantium
            laborum ab aliquam tenetur soluta
            fugit consequuntur magni magnam. Maiores ipsa animi deleniti ea?
        </div>
    </div>

</body>

</html>