@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {

  --body-color: #E4E9F7;
  /* #eee */
  --sidebar-color: #FFF;
  --primary-color: #695CFE;
  --primary-color-light: #F6F5FF;
  --toggle-color: #DDD;
  --text-color: #707070;

  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;


  /* test colors */

  --light: #f6f6f9;
  --primary: #1976D2;
  --light-primary: #CFE8FF;
  --grey: #eee;
  --dark-grey: #AAAAAA;
  --dark: #363949;
  --danger: #D32F2F;
  --light-danger: #FECDD3;
  --warning: #FBC02D;
  --light-warning: #FFF2C6;
  --success: #388E3C;
  --light-success: #BBF7D0;

  --yellow:#FFBD13;
  --blue:#4383FF;
  --blue-d-1: #3278FF;
  --white: #FFF;
  --shadow:8px 8px 300px rgba(0,0,0,.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-05);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ================ Side Bar Menu ================ */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 2000;
}

.sidebar header .image,
.sidebar .icon {
  min-width: 60px;
  border-radius: 6px;
}

.sidebar .text,
.sidebar .icon {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar .text {
  font-size: 17px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
}

.sidebar header {
  position: relative;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

.sidebar header .logo-text {
  display: flex;
  flex-direction: column;
}

header .image-text .name {
  margin-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

header .image-text .profession {
  font-size: 16px;
  margin-top: -2px;
  display: block;
}

.sidebar header .image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar header .image img {
  width: 40px;
  border-radius: 6px;
}

.sidebar .menu {
  margin-top: 40px;
}

.sidebar .menu-bar {
  height: calc(100% - 55px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
  display: none;
}

/* ================ Progress Bar Process ================ */
.progress-bar {
  width: 20px;
  height: 450px;
  border-radius: 20px;
  left: 20%;
  background-color: #ddd;
  margin-right: 20px; 
  position: relative;
}

.progress-bar .bar {
  width: 100%;
  border-radius: 20px;
  background-color: #4CAF50;
  position: absolute;
  bottom: 0;
}

/* ================ Main ================ */
main {
  position: relative;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 8%;
}

/* ================ AI Text ================ */
.ai_text {
  text-align: center;
  color: #695CFE;
}

.ai_text .container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  bottom: 400px;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  background-color: #BBF7D0;
}

/* ================ Switch With Sections ================ */

.section {
  display: none;
}

.section.active {
  display: block;
}

/* ================ Chose Catogire ================ */

/* ================ Chose Templete ================ */
.chose_templet {
  left: 50%;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  top: 80px;
}

.card {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 20px;
  text-align: center;
}

.selected {
  background-color: aquamarine;
}

/* ================ Set Website Name ================ */
input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/* ================ Next Button ================ */
.project_opthions {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 20rem;
  bottom: 25px;
  left: 40%;
}

.project_opthions button {
  width: 115px;
  height: 50px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
