@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/

  --bg-color: #fff;
  --text-color: #151111;
  --subtext-color: #bbb;
  --link-color: #8371fd;

  --first-color: hsl(260, 100%, 50%);
  --second-color: hsl(190, 100%, 50%);
  --third-color: hsl(54, 100%, 50%);
  --fourth-color: hsl(210, 100%, 50%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
  --h4-font-size: 1.1rem;
  --h6-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

