<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Web Design Mastery | Nike</title>
  </head>
  <body>
    <header class="section__container header__container">
      <nav>
        <div class="nav__bar">
          <div class="nav__logo">
            <a href="#"><img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21792&authkey=%21ADYNXmMO1_PAiuc" alt="logo" /></a>
          </div>
          <form action="/">
            <input type="text" placeholder="Search" />
            <button type="submit"><i class="ri-search-line"></i></button>
          </form>
        </div>
        <div class="nav__btn">
          <span><i class="ri-shopping-bag-line"></i></span>
        </div>
      </nav>
      <div class="header__content">
        <h1>Expl<span>o</span>re New Things</h1>
        <p class="section__description">
          Welcome to our Nike shoe website, your ultimate destination for the
          latest and greatest in athletic footwear. Explore a wide range of Nike
          shoes designed to elevate your performance and style.
        </p>
        <button class="btn">
          <span><i class="ri-add-line"></i></span> Explore More
        </button>
      </div>
      <div class="header__image">
        <div class="header__socials">
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-pinterest-line"></i></a>
          <a href="#"><i class="ri-facebook-fill"></i></a>
        </div>
      </div>
    </header>

    <section class="trending__container">
      <div class="section__container trending__header">
        <div class="section__nav">
          <span><i class="ri-arrow-left-s-line"></i></span>
          <span><i class="ri-arrow-right-s-line"></i></span>
        </div>
        <h2 class="section__header">Trending <span>Collection</span></h2>
      </div>
      <!-- Slider main container -->
      <div class="swiper trending__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21797&authkey=%21ACfF7MItJ6gkV08" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Air Force 1 '07</h4>
                  <p>Style: CW2288-111</p>
                  <h3>7495.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21796&authkey=%21AA6LtrY1vXFFnXk" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Zoom Vomero 5</h4>
                  <p>Style: FB9149-400</p>
                  <h3>14995.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21798&authkey=%21ALCc-QnkOCNgIY4" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Vomero 5</h4>
                  <p>Style: BV1358-002</p>
                  <h3>14995.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21799&authkey=%21APSPucIEmcU7gDw" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Air Max 90</h4>
                  <p>Style: FB9657-002</p>
                  <h3>11895.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21800&authkey=%21AMjMB8Hg8ekQLUI" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Air Max 97</h4>
                  <p>Style: DC2190-001</p>
                  <h3>16995.00</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide trending__swiper-slide">
            <div class="trending__card">
              <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21801&authkey=%21AMBxBzVlYstnfUo" alt="trending" />
              <div class="trending__card__content">
                <div class="trending__btns">
                  <button><i class="ri-heart-3-fill"></i></button>
                  <button><i class="ri-shopping-bag-fill"></i></button>
                </div>
                <div class="trending__card__details">
                  <h4>Nike Air Max 1</h4>
                  <p>Style: FQ8048-133</p>
                  <h3>12795.00</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container why__container">
      <div class="why__image">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21802&authkey=%21APcREEZQc5frFkM" alt="why image" />
      </div>
      <div class="why__content">
        <h2 class="section__header">Why Choose<br /><span>Nike</span></h2>
        <p class="section__description">
          Welcome to the ultimate destination for Nike footwear enthusiasts! Our
          Nike shoe website is your one-stop shop for the latest and greatest in
          athletic and lifestyle footwear. Explore a diverse collection of Nike
          sneakers, running shoes, training kicks, and fashion-forward styles
          for men, women, and kids.
        </p>
        <p class="section__description">
          From iconic classics like Air Max and Jordan to cutting-edge
          innovations like Flyknit and React technology, we offer a diverse
          selection to suit every athlete and sneaker enthusiast. Discover the
          perfect blend of comfort, performance, and style in our collection of
          Nike kicks. Whether you're hitting the gym, the court, the track, or
          the streets, we've got you covered with the latest trends and timeless
          classics. Step into a world of sportswear excellence and shop with
          confidence for your next pair of Nike shoes.
        </p>
        <button class="btn">
          <span><i class="ri-add-line"></i></span> Explore More
        </button>
      </div>
    </section>

    <section class="section__container testimonial__container">
      <h2 class="section__header"><span>Nike</span></h2>
      <p class="section__description">The legacy evolves</p>
      <!-- Slider main container -->
      <div class="swiper testimonial__swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide testimonial__swiper-slide">
            <div class="testimonial__card">
              <p>
                I'm a Nike fanatic, and this website has become my go-to
                destination for all things Nike. The selection is incredible,
                and the detailed product descriptions helped me find the perfect
                pair of running shoes. Plus, the fast shipping is a
                game-changer!
              </p>
              <h4>Sarah M. - Los Angeles, CA</h4>
            </div>
          </div>
          <div class="swiper-slide testimonial__swiper-slide">
            <div class="testimonial__card">
              <p>
                As a sneakerhead, I'm always on the hunt for the latest Nike
                releases. This website makes it so easy to stay up-to-date with
                new drops and even provides early access for members. It's like
                a dream come true for any Nike enthusiast.
              </p>
              <h4>Alex T. - New York, NY</h4>
            </div>
          </div>
          <div class="swiper-slide testimonial__swiper-slide">
            <div class="testimonial__card">
              <p>
                I've been buying Nike shoes for years, but this website takes
                the shopping experience to a whole new level. The customer
                reviews were incredibly helpful in making my decision, and the
                sizing guides ensured I got the perfect fit every time.
              </p>
              <h4>David P. - Chicago, IL</h4>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev">
          <span><i class="ri-arrow-left-s-line"></i></span>
        </div>
        <div class="swiper-button-next">
          <span><i class="ri-arrow-right-s-line"></i></span>
        </div>
      </div>
    </section>

    <section class="section__container story__container">
      <div class="story__content">
        <h2 class="section__header">Nike<br /><span>Stories</span></h2>
        <p class="section__description">
          Read how she went from being a couch potato to completing her first 5K
          race, all thanks to the comfort and support of her Nike running shoes.
        </p>
        <div class="section__nav">
          <span><i class="ri-arrow-left-s-line"></i></span>
          <span><i class="ri-arrow-right-s-line"></i></span>
        </div>
      </div>
      <div class="story__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21793&authkey=%21AOsqQkUKd-niRfM" alt="story" />
        <div class="story__card__content">
          <p class="section__description">
            Follow journey as he explores the diverse world of Nike, from
            classic designs to cutting-edge streetwear.
          </p>
          <button class="btn">
            <span><i class="ri-add-line"></i></span> Explore More
          </button>
        </div>
      </div>
      <div class="story__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21794&authkey=%21AKfpfljnhBzUp0s" alt="story" />
        <div class="story__card__content">
          <p class="section__description">
            These kids prove that dedication, teamwork, and the right gear can
            make all the difference on the field.
          </p>
          <button class="btn">
            <span><i class="ri-add-line"></i></span> Explore More
          </button>
        </div>
      </div>
      <div class="story__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21795&authkey=%21AGgorDFUHnjUIx4" alt="story" />
        <div class="story__card__content">
          <p class="section__description">
            Whether she's hiking the Andes or exploring bustling city streets,
            she relies on Nike for comfort and style.
          </p>
          <button class="btn">
            <span><i class="ri-add-line"></i></span> Explore More
          </button>
        </div>
      </div>
    </section>

    <section class="section__container">
      <div class="banner__container">
        <div class="banner__image">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21790&authkey=%21AGUlvAUnB9upm8w" alt="banner" />
        </div>
        <div class="banner__content">
          <h2 class="section__header">
            Get Your Shoes Now on <span>15%</span> Discount
          </h2>
          <p class="section__description">
            With an array of colorways, sizes, and categories, our website is
            designed to cater to every Nike lover's preferences. Elevate your
            shoe game and step into the world of Nike with us!
          </p>
          <button class="btn">
            <span><i class="ri-add-line"></i></span> Buy Now
          </button>
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21789&authkey=%21ADQuYrHVyWKTdEE" alt="banner bg" class="banner__bg" />
        </div>
      </div>
    </section>

    <footer class="section__container footer__container">
      <div class="footer__col">
        <div class="footer__logo">
          <a href="#"><img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21792&authkey=%21ADYNXmMO1_PAiuc" alt="logo" /></a>
        </div>
        <div class="footer__socials">
          <a href="#"><i class="ri-instagram-line"></i></a>
          <a href="#"><i class="ri-pinterest-line"></i></a>
          <a href="#"><i class="ri-facebook-fill"></i></a>
        </div>
      </div>
      <div class="footer__col">
        <h4>Customer Support</h4>
        <p>
          Got questions or need assistance? Our dedicated customer support team
          is here to help! Contact us via phone or email for any inquiries,
          order tracking, or product assistance.
        </p>
      </div>
      <div class="footer__col">
        <h4>Company Information</h4>
        <p>
          Learn more about our mission, values, and commitment to quality.
          Explore our company history and find out how we're making a positive
          impact in the world of athletic and lifestyle footwear.
        </p>
      </div>
    </footer>
    <div class="footer__bar">
      Copyright © 2023 Web Design Mastery. All rights reserved.
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
