<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ChatBot</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <!-- <script src="script.js" defer></script> -->


    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->

</head>

<body class="show-chatbot">
    <button id="toggleChatbotBtn" class="spinner">
        <div class="spinner1">
            <!-- <span class="material-symbols-rounded">mode_comment</span> -->
            <!-- <span class="material-symbols-outlined">close</span> -->
        </div>
    </button>
    <div class="chatbot">
        <header>
            <h2>Raya</h2>
            <h4>Chat with our AI ✨<br>Ask any question and AI will answer.</h4>
            <button class="btnNewChat" id="btnNewChat" onclick="startNewChat()">New Chat</button>
            <button class="btnSeeFAQ" id="btnSeeFAQ" onclick="showFAQ()">See FAQ</button>
            <button class="btnBack" id="btnBack" onclick="backToChat()" style="display: none">Back</button>
        </header>
        <ul class="chatbox">
            <li class="chat incoming">
                <span class="material-symbols-outlined">smart_toy</span>
                <p>Hi there 👋 <br>I'm the AI Assistant. <br>How can I help you today?</p>
            </li>
        </ul>
        <div class="chat-input" id="chat-input">
            <input type="text" class="input" placeholder="Type your message here..." required />
            <span id="send-btn" class="material-symbols-rounded">send</span>
            <div class="input-border"></div>
        </div>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>

<!-- <div class="faq_part">
          <div class="wrapper">
            <p>This is a question and answer section</p>

            <div class="faq">
              <button class="accordion">
                How can I create a website?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  porro saepe quo, quibusdam nisi minus modi vero, dolorem ullam
                  ea perferendis corrupti explicabo temporibus nesciunt amet,
                  fugit sint quisquam harum.
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut
                  porro saepe quo, quibusdam nisi minus modi vero, dolorem ullam
                  ea perferendis corrupti explicabo temporibus nesciunt amet,
                  fugit sint quisquam harum.
                </p>
              </div>
            </div>

            <div class="faq">
              <button class="accordion">
                How can I create a website by AI?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>

            <div class="faq">
              <button class="accordion">
                Where can I view my profile?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>

            <div class="faq">
              <button class="accordion">
                How can I change my password?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>
            



            <div class="faq">
              <button class="accordion">
                How do I change my profile picture?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                How do I enable dark mode on the website?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                How can i finde my old projects?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                What services does your website offer?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                What the languge availabpl in website?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>




            <div class="faq">
              <button class="accordion">
                How can i save my websites?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                where can i see the (HTML OR CSS) code?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>


            <div class="faq">
              <button class="accordion">
                How do I change the name of the project?
                <i class="fa-solid fa-chevron-down"></i>
              </button>
              <div class="pannel">
                <p>
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Facilis saepe molestiae distinctio asperiores cupiditate
                  consequuntur dolor ullam, iure eligendi harum eaque hic
                  corporis debitis porro consectetur voluptate rem officiis
                  architecto.
                </p>
              </div>
            </div>
          </div>
        </div> -->