* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}


body {
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
}

.feedback-container {
    border-radius: 1rem;
    background-color: #fff;
    padding: 2rem 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

h1 {
    color: #000;
    font-size: 2.5rem;
    margin-bottom: 0.3rem;
}

p {
    color: #191919;
    font-size: 1.4rem;
}
.emoji-box{
    padding: 1rem 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.5);
    }
}
.question {
    margin: 0.5rem 0;
}
textarea {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #777;
    border-radius: 0.5rem;
    color: #000;
    margin-bottom: 0.6rem;

&:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
}
.radio-btns{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    position: relative;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border:0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

&::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}
}
&:checked::before {
    background-color: #006ae8;
 
}
label {
    color: #000 ;
    font-size: 1.7rem;
    margin-left: 1rem;

}
.info-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0.5rem 0;
}
.name{
    padding: 1.3rem 0 0 0;
    display: flex;
    flex-direction: column;

}
label{
    color:#000;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;

    
}
span {
    position: absolute;
    left: 12%;
    top: 50;
    transform: translate(-50%, -50%);
    font-size: rem;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
}
input{
    width: 100%;
    border-radius: 0.6rem;
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #777;
    color: #000;
    &:focus + span,
    &:not(:placeholder-shown) + span{
        top: 0%;
        background-color: #fff;
        padding: 0.2rem 0.7rem;
    }
}
.email{
    padding: 1rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    margin-top: 0.6rem;

}
label{
    color: #000;
    position: relative;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
span{
    position: absolute;
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
}
input{
    width: 100%;
    border-radius: 0.6rem;
    background-color: transparent;
    padding: 1rem;
    border: 0.1rem solid #777;
    color: #000;
    &:focus + span,
    &:not(:placeholder-shown) + span{
        top: 0%;
        background-color: #fff;
        padding: 0.2rem 0.7rem;
    }
}
.accept{
    display: flex;
    align-items: center;

}
label{
    font-size: 1.2rem;
    color: #191919;
    margin-left: 0.7rem;

}
a {
    color: #1c84ff;
}

input[type="radio"] {
    position: relative;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border:0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}
&::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}
&:checked::before {
    background-color: #006ae8;
 
}
.center{
    margin-top: 2rem;
    text-align: center;

}
.button{
    width: 100%;
    background-color: #0276ff;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    font-size: 1.4rem;
    padding: 1rem 4rem;
    cursor: pointer;
}
.button:active{
    background-color: #006ae8;
    transform: scale(0.98);

}
.button:hover {
    background-color: #1c84ff;
}