*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: var(--body-font);
}


main {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #dbdbdb;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    position: relative;
    width: 100%;
    max-width: 1020px;
    height: 640px;
    background-color: #fff;
    border-radius: 3.3rem;
    box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
  }
  
  .inner-box {
    position: absolute;
    width: calc(100% - 4.1rem);
    height: calc(100% - 4.1rem);
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    
  }
  
  .forms-wrap {
    position: absolute;
    height: 100%;
    width: 45%;
    top: 0;
    left: 0;
  
  }
  
  form {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 27px;
    margin: 0.3rem;
  }
  
  .logo h4 {
    font-size: var(--h4-font-size);
    margin-top: -9px;
    letter-spacing: -0.5px;
    color: var(--text-color);
  }
  

  .heading h1 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
  }
  
  .heading p {
    color: #000;
    font-weight: 400;
    font-size: 0.95rem;
    display: inline;
  }

.emoji-box {
    padding: 1rem 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
.btn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.5);
    }
  }
}


.question {
    margin: 0.5rem 0;
}

textarea {
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    border: 0.1rem solid #777;
    border-radius: 0.5rem;
    color: #000;
    margin-bottom: 0.6rem;
    &:active {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}

.radio-btns {
    width: 40%;
    display: flex;
    justify-content: space-between;
    .one-btn {
      display: flex;
}
input[type="radio"] {
    position: relative;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border:0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
&::before {
      content: "";
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      transition: 0.2s;
  }
&:checked::before {
    background-color: #006ae8;
}
label {
    color: #000 ;
    font-size: 1.7rem;
    margin-left: 1rem;
}
}

.accept{
    display: flex;
    align-items: center;
label{
    font-size: 1.2rem;
    color: #191919;
    margin-left: 0.7rem;
a {
    color: #1c84ff;
}
}
input[type="radio"] {
    position: relative;
    font-size: 2rem;
    appearance: none;
    width: 2rem;
    height: 2rem;
    border:0.1rem solid #777;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
&::before {
    content: "";
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    transition: 0.2s;
}
&:checked::before {
    background-color: #006ae8;
}
}
}

.center{
    margin-top: 2rem;
    text-align: center;
.button{
    width: 100%;
    background-color: #0276ff;
    border-radius: 0.5rem;
    border: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    font-size: 1.4rem;
    padding: 1rem 4rem;
    cursor: pointer;
}
.button:active{
    background-color: #006ae8;
    transform: scale(0.98);
}
.button:hover {
    background-color: #1c84ff;
}
}
.image {
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    opacity: 0;
    animation: 20s image infinite;
    transition: opacity 0.3s, transform 0.5s;
  }