<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <title>Web Design Mastery | Lebaba</title>
  </head>
  <body>
    <nav>
      <ul class="nav__links">
        <li class="link"><a href="#">Home</a></li>
        <li class="link"><a href="#">Shop</a></li>
        <li class="link"><a href="#">Pages</a></li>
        <li class="link"><a href="#">Contact</a></li>
      </ul>
      <div class="nav__logo">
        <a href="#">Lebaba<span>.</span></a>
      </div>
      <div class="nav__icons">
        <span>
          <a href="#"><i class="ri-search-line"></i></a>
        </span>
        <span>
          <a href="#"><i class="ri-user-line"></i></a>
        </span>
        <span>
          <a href="#"><i class="ri-shopping-bag-line"></i></a>
        </span>
      </div>
    </nav>

    <header class="section__container header__container">
      <div class="header__content">
        <h4>UP TO 20% DISCOUNT ON</h4>
        <h1>Girl's Fashion</h1>
        <p>
          Discover the latest trends and express your unique style with our
          Women's Fashion website. Explore a curated collection of clothing,
          accessories, and footwear that caters to every taste and occasion.
        </p>
        <button class="btn">EXPLORE NOW</button>
      </div>
      <div class="header__image">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21774&authkey=%21AAJtziTHKNE9If0" alt="header" />
      </div>
    </header>

    <section class="section__container categories__container">
      <h2 class="section__header">Top Categories</h2>
      <p class="section__subheader">
        Browse a diverse range of categories, from chic dresses to versatile
        accessories. Elevate your style today!
      </p>
      <div class="categories__grid">
        <div class="categories__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21769&authkey=%21ALU7yqJFWlyTYvk" alt="categories" />
          <h4>Accessories</h4>
        </div>
        <div class="categories__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21770&authkey=%21AGqlB0nWUfijtxQ" alt="categories" />
          <h4>Dress Collection</h4>
        </div>
        <div class="categories__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21771&authkey=%21AI1TCVuTCuddj9Q" alt="categories" />
          <h4>Jewellery</h4>
        </div>
        <div class="categories__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21772&authkey=%21AApC3UgFMh_TlfQ" alt="categories" />
          <h4>Cosmetics</h4>
        </div>
      </div>
    </section>

    <section class="section__container hero__container">
      <div class="hero__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21766&authkey=%21AIm0D-ud_j97Ft0" alt="hero" />
        <div class="hero__content">
          <p>2023 Trend</p>
          <h4>Womens Shirt</h4>
          <a href="#">Discover More +</a>
        </div>
      </div>
      <div class="hero__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21767&authkey=%21AFB5uBtSbhd3pSY" alt="hero" />
        <div class="hero__content">
          <p>2023 Trend</p>
          <h4>Womens Dresses</h4>
          <a href="#">Discover More +</a>
        </div>
      </div>
      <div class="hero__card">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21768&authkey=%21AOjkDY2yPVRIin0" alt="hero" />
        <div class="hero__content">
          <p>2023 Trend</p>
          <h4>Womens Casuals</h4>
          <a href="#">Discover More +</a>
        </div>
      </div>
    </section>

    <section class="section__container product__container">
      <h2 class="section__header">Trending Products</h2>
      <p class="section__subheader">
        Discover the Hottest Picks: Elevate Your Style with Our Curated
        Collection of Trending Women's Fashion Products.
      </p>
      <div class="product__grid">
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21781&authkey=%21AHPEIvzqJO_xvXo" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>White Dress</h4>
            <p>$150 <s>$250</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21782&authkey=%21AAYMu-vp7jfZrms" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Guess Watch</h4>
            <p>$200 <s>$350</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21783&authkey=%21AHDXqz4ILCq073c" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Black Purse</h4>
            <p>$350 <s>$450</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21784&authkey=%21AKrXWBnBr688Qtc" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Gucci Bag</h4>
            <p>$900 <s>$1200</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21785&authkey=%21AIKe5RxzRk_JhOM" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Tapered Jeans</h4>
            <p>$250 <s>$300</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21786&authkey=%21AKMv93wJdO1U6mQ" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Sunglases</h4>
            <p>$150 <s>$250</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21787&authkey=%21ABPIjfv0-G24td8" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Brown T-Shirt</h4>
            <p>$99 <s>$149</s></p>
          </div>
        </div>
        <div class="product__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21788&authkey=%21ANByfC--dHx3VJ8" alt="product" />
          <div class="product__card__content">
            <div class="product__rating">
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-fill"></i></span>
              <span><i class="ri-star-half-fill"></i></span>
              <span><i class="ri-star-line"></i></span>
            </div>
            <h4>Beige Heels</h4>
            <p>$250 <s>$350</s></p>
          </div>
        </div>
      </div>
      <div class="product__btn">
        <button class="btn">Load More</button>
      </div>
    </section>

    <section class="section__container deals__container">
      <div class="deals__image">
        <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21787&authkey=%21ABPIjfv0-G24td8" alt="deals" />
      </div>
      <div class="deals__content">
        <h5>Get Up To 20% Discount</h5>
        <h4>Deals Of This Month</h4>
        <p>
          Our Women's Fashion Deals of the Month are here to make your style
          dreams a reality without breaking the bank. Discover a curated
          collection of exquisite clothing, accessories, and footwear, all
          handpicked to elevate your wardrobe.
        </p>
        <div class="deals__countdown">
          <div class="deals__countdown__card">
            <h4>14</h4>
            <p>Days</p>
          </div>
          <div class="deals__countdown__card">
            <h4>20</h4>
            <p>Hours</p>
          </div>
          <div class="deals__countdown__card">
            <h4>15</h4>
            <p>Mins</p>
          </div>
          <div class="deals__countdown__card">
            <h4>05</h4>
            <p>Secs</p>
          </div>
        </div>
      </div>
    </section>

    <section class="section__container banner__container">
      <div class="banner__card">
        <span><i class="ri-truck-line"></i></span>
        <h4>Free Delivery</h4>
        <p>
          Offers convenience and the ability to shop from anywhere, anytime.
        </p>
      </div>
      <div class="banner__card">
        <span><i class="ri-money-dollar-circle-line"></i></span>
        <h4>100% Money Back Guaranty</h4>
        <p>
          E-commerce have a review system where customers can share feedback.
        </p>
      </div>
      <div class="banner__card">
        <span><i class="ri-user-voice-fill"></i></span>
        <h4>Strong Support</h4>
        <p>
          Offer customer support services to assist customers with queries and
          issues.
        </p>
      </div>
    </section>

    <section class="section__container blog__container">
      <h2 class="section__header">Latest From Blog</h2>
      <p class="section__subheader">
        Elevate your wardrobe with our freshest style tips, trends, and
        inspiration on our blog.
      </p>
      <div class="blog__grid">
        <div class="blog__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21763&authkey=%21AEEz6VCqTduxrMo" alt="blog" />
          <div class="blog__card__content">
            <h6>Timeless Elegance</h6>
            <h4>Mastering the Art of Capsule Wardrobes</h4>
            <p>12<sup>th</sup> August 2022</p>
          </div>
        </div>
        <div class="blog__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21764&authkey=%21AMpJLLLAi9QPuQg" alt="blog" />
          <div class="blog__card__content">
            <h6>Summer Breeze</h6>
            <h4>Unveiling the Hottest Beachwear Trends</h4>
            <p>18<sup>th</sup> January 2023</p>
          </div>
        </div>
        <div class="blog__card">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21764&authkey=%21AMpJLLLAi9QPuQg" alt="blog" />
          <div class="blog__card__content">
            <h6>Power Dressing</h6>
            <h4>Navigating the World of Women's Tailoring</h4>
            <p>25<sup>th</sup> May 2023</p>
          </div>
        </div>
      </div>
    </section>

    <footer class="section__container footer__container">
      <div class="footer__col">
        <h4>CONTACT INFO</h4>
        <p>
          <span><i class="ri-map-pin-2-fill"></i></span>
          123, London Bridge Street, London
        </p>
        <p>
          <span><i class="ri-mail-fill"></i></span>
          support@Lebaba.com
        </p>
        <p>
          <span><i class="ri-phone-fill"></i></span>
          (+012) 3456 789
        </p>
      </div>
      <div class="footer__col">
        <h4>COMPANY</h4>
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">Work With Us</a>
        <a href="#">Our Blog</a>
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="footer__col">
        <h4>USEFUL LINK</h4>
        <a href="#">Help</a>
        <a href="#">Track My Order</a>
        <a href="#">Men</a>
        <a href="#">Women</a>
        <a href="#">Dresses</a>
      </div>
      <div class="footer__col">
        <h4>INSTAGRAM</h4>
        <div class="instagram__grid">
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21775&authkey=%21ABLx6WKNCmPB7BI" alt="instagram" />
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21776&authkey=%21ABTcRYQeDZmWiPk" alt="instagram" />
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21777&authkey=%21AHQ9EaCLJkZPU78" alt="instagram" />
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21778&authkey=%21ACA1s7QX2Sv-x-A" alt="instagram" />
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21779&authkey=%21AFLjCtwttHZekdM" alt="instagram" />
          <img src="https://onedrive.live.com/embed?resid=3934C6D5E44CBAD5%21780&authkey=%21AMQryNNN8VxwwPs" alt="instagram" />
        </div>
      </div>
    </footer>
    <div class="footer__bar">
      Copyright © 2023 Web Design Mastery. All rights reserved.
    </div>
  </body>
</html>
